
$MenuPanelWrapperColor: rgb(236, 236, 236);
@media (min-width: 768px)  {
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $MenuPanelWrapperColor;
  ;
  overflow:hidden;
}

.GameLayout {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column-gap: 10px;

}
}

@media (max-width: 767px)  {

  .GameLayout {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    grid-column-gap: 10px;
  
   
  } 
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $MenuPanelWrapperColor;
    ;
    overflow:hidden;
    margin-bottom:100px;
  }
}
