//Основные параметры

//цвет
$MenuPanelWrapperColor: rgb(236, 236, 236);

//Отступ
$MenuPanelWrapperPadding: 30px;

//Основные шрифты панели меню

@mixin MenuPanelFont($size: 14px, $weight: 300) {
  color: rgb(82, 79, 100);
  font-family: tahoma;
  font-weight: $weight;
  font-size: $size;
}

//Цвет кнопки
$ButtonColor: rgb(4, 190, 45);
$ButtonColor2: rgb(218, 219, 221);
//Размеры кнопок
$OperatingButtonSize: 70px;

@mixin Button($color: $ButtonColor) {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  background-color: $color;
  border: 1px solid darken($color, 5%);
  box-shadow: 0px 0px 2px 2px #00000013, inset 0px 0px 20px 20px #ffffff05;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

@mixin ButtonHover($color: $ButtonColor) {
  background-color: lighten($color, 5%);
}

@mixin ButtonRounded($color: $ButtonColor) {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: $color;
  border: 1px solid darken($color, 5%);
  box-shadow: inset 0px 0px 2px 2px #ffffff10;
  background: linear-gradient(lighten($color,5%)0%,lighten($color,5%)50%,$color 50%,$color 100%);
  color: #fff;
  cursor: pointer;
}

@mixin ButtonRoundedHover($color: $ButtonColor) {
  background-color: lighten($color, 5%);
}

@mixin arrowbody {
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-bottom-color: darken($ButtonColor2, 40%);
}

@mixin pagepadding {
  padding-left: $MenuPanelWrapperPadding;
  padding-right: $MenuPanelWrapperPadding;
}

@media (min-width: 768px) {
  .MenuPanelWrapper {
    width: 100%;
    height: 100%;
    background-color: $MenuPanelWrapperColor;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

@media (max-width: 767px) {
  .MenuPanelWrapper {
    width: 100%;
    height: 100%;
    background-color: $MenuPanelWrapperColor;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 200px;
    background:linear-gradient(darken($MenuPanelWrapperColor,10%)0%,$MenuPanelWrapperColor 6%,$MenuPanelWrapperColor 100%)
  }
}

@media (min-width: 768px) {
  .ScorePanel {
    margin-top: 30px;
    @include pagepadding;
    display: block;
    justify-content: flex-end;
    align-items: center;
  }
}

.ScorePanelTitle {
  @include MenuPanelFont(18px);
}
.ScorePanelData {
  @include MenuPanelFont(16px);
  margin-left: 6px;
}

.StatusPanel {
  margin-top: 30px;
  @include pagepadding;
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.StatusPanelTitle {
  @include MenuPanelFont(18px);
}
.StatusPanelData {
  @include MenuPanelFont(16px);
  margin-left: 6px;
}

.LauncherPanel {
  margin-top: 30px;
  @include pagepadding;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.LauncherPanelStart {
  @include Button;
}
.LauncherPanelStart:hover {
  @include ButtonHover;
}

.LauncherPanelStop {
  @include Button($ButtonColor2);
}
.LauncherPanelStop:hover {
  @include ButtonHover($ButtonColor2);
}

.OperatingWrapper {
  display: flex;

  width: 100%;
}

.OperatingPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-self: flex-end;
  justify-self: center;
  margin-bottom: 30px;
  width: 100%;
}
.OperatingPanelUp {
  height: 100px;
  @include ButtonRounded($ButtonColor2);
}
.OperatingPanelUp:hover {
  background-color: lighten($ButtonColor2, 5%);
  .ArrowUp {
    border-bottom-color: darken($ButtonColor2, 20%);
  }
}

.OperatingPanelLeft {
  @include ButtonRounded($ButtonColor2);
  padding-top: 5px;
  padding-bottom: 5px;
}
.OperatingPanelLeft:hover {
  background-color: lighten($ButtonColor2, 5%);
  .ArrowLeft {
    border-bottom-color: darken($ButtonColor2, 20%);
  }
}

.OperatingPanelRight {
  padding-top: 5px;
  padding-bottom: 5px;
  @include ButtonRounded($ButtonColor2);
}
.OperatingPanelRight:hover {
  background-color: lighten($ButtonColor2, 5%);

  .ArrowRight {
    border-bottom-color: darken($ButtonColor2, 20%);
  }
}

.OperatingPanelDown {
  @include ButtonRounded($ButtonColor2);
}

.OperatingPanelDown:hover {
  background-color: lighten($ButtonColor2, 5%);

  .ArrowBottom {
    border-bottom-color: darken($ButtonColor2, 20%);
  }
}

.ArrowUp {
  @include arrowbody;
  margin-bottom: 18px;
}

.ArrowLeft {
  @include arrowbody;
  margin-right: 18px;
  transform: rotate(-90deg);
}
.ArrowRight {
  @include arrowbody;
  margin-left: 18px;
  transform: rotate(90deg);
}

.ArrowBottom {
  @include arrowbody;
  margin-top: 18px;
  transform: rotate(180deg);
}

.CountersWrapper {
  @include pagepadding;
}
.CounterImage {
  height: 25px;
  width: auto;
}
.ContersData {
  margin-right: 0px;
  margin-left: 85px;
  color: rgb(72, 80, 97);
  font-size: 16px;
  font-weight: 400;
  font-family: tahoma;
  display: grid;
  grid-template-columns: 60px 100px;
  // border:1px solid #ccc
}

.CountersHeader {
  @include MenuPanelFont(18px);
  margin-bottom: 20px;
  margin-left: 30px;
}

///Оптимизация под мобильные устройства

@media (max-width: 767px) {
  .ScorePanel {
    margin-top:15px;
    margin-left:15px;
  }
  .StatusPanel {
    margin-top:15px
  }
  .CountersWrapper {
    display: none;
  }

}
