$PlayAreaEmptyDotColor: rgb(238, 231, 231);
$PlayAreaSnakeDotColor: rgb(106, 228, 69);
$PlayAreaDotColor: rgb(255, 208, 0);

.PlayArea {
  background-color: lighten($PlayAreaEmptyDotColor, 10%);
  border: 1px solid #ccc;
  padding: 20px;
  overflow-wrap: normal;
}

.PlayAreaEmptyDot {
  margin: 1px;
  height: 30px;
  border: 1px solid darken($PlayAreaEmptyDotColor, 20%);
  background-color: $PlayAreaEmptyDotColor;
  padding-bottom: 100%;
  height: 0;
}

.PlayAreaSnakeDot {
  margin: 1px;
  height: 30px;
  border: 1px solid darken($PlayAreaSnakeDotColor, 20%);
  background-color: $PlayAreaSnakeDotColor;
  padding-bottom: 100%;
  height: 0;
}

.PlayAreaDot {
  margin: 1px;
  height: 30px;
  border: 1px solid darken($PlayAreaDotColor, 20%);
  background-color: $PlayAreaDotColor;
  padding-bottom: 100%;
  height: 0;
}
